.h1 {
  color:blue;

}

ul {
  background-color: red;
}

#introtext {
  color: green;
}

div {
    font-size: 18px;
    p {
        color: blue;
    }
    ul {
        color: green;
    }
}


%message {
    font-family: sans-serif;
    font-size: 18px;
    font-weight: bold;
}

.aboutme {
    @extend %message;
    background-color: green;
}
