h1, h2 {
    color: red;
}

img:hover {
  /* Chrome, Safari, Opera */
-webkit-animation: moveit 2s linear 0s infinite alternate;
/* Standard syntax */
animation: moveit 5s linear 0s infinite alternate;

}


/* Chrome, Safari, Opera */
@-webkit-keyframes moveit {
    from {left: 0;}
    to {left: 50%;}
}

/* Standard syntax */
@keyframes moveit {
    from {left: 0;}
    to {left: 50%;}
}

body {
    background: #96e8ff  no-repeat fixed center;
}

h1::before {
    content: "Chapter: ";
    display: inline;
}

ul {
    list-style: circle inside;
}
ol {
    list-style: upper-latin outside;
}
