h1, h2 {
    color: red;
}

h1:hover {
  background-color: #94cfff;

}

img:hover {
  /* Chrome, Safari, Opera */
-webkit-animation: moveit 2s linear 0s infinite alternate;
/* Standard syntax */
animation: moveit 5s linear 0s infinite alternate;
opacity: 50%;

}


/* Chrome, Safari, Opera */
@-webkit-keyframes moveit {
    from {left: 0;}
    to {left: 50%;}
}

/* Standard syntax */
@keyframes moveit {
    from {left: 0;}
    to {left: 50%;}
}

body {
    background: #96e8ff  no-repeat fixed center;
}

h1::before {
    content: "Chapter: ";
    display: inline;
}

ul {
    list-style: upper-latin outside;
}
ol {
    list-style: circle inside;
}

.projecttables {
  border: 1 px;
}

.travellist::after {
  content: " Visted" ;
  color: green;
}

@media (min-width: 500px) {
h1 {
    background-color: green;
}
}
@media (max-width: 499px) {
h1 {
    background-color: yellow;
}
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.navbar navbar-expand-lg navbar-light bg-light {
  backgroun-color: 53828f;
}
